/* ROMASHKA BUILD */
*,
*::after,
*::before
{
    box-sizing: border-box;
}

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}


body{
    color: #2D2D2D;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}



.main{
    flex: 1 0 auto;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

.container::before,
.container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc((100% - 1300px) / 2);
  background-image: url("../img/аыва.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(2px);
}

.container::before {
    left: 0;

  }

  .container::after {
    right: 0;
  }


/* will-change */

.content {
    will-change: transform;
} 

/* RELOAD VALUES */

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
    font-family: 'Audiowide';
    color: #2D2D2D;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 61px;
}

ul, li, a {
    all: unset;
    margin: 0;
    padding: 0;
    cursor: pointer;
}