.content{
    position: relative;
    z-index: 1;

    .elipse{
        z-index: 6;
        position: absolute;
        border-radius: 50%; 
    }

    .elipse-1{
        background: linear-gradient(146.58deg, rgba(255, 230, 0, 0.8) 3.99%, rgba(255, 92, 0, 0.8) 139.51%);
        filter: blur(20px);
        width: 380px;
        height: 380px;
        left: 56px;
        top: 25px;
    }

    .elipse-2{
        background: linear-gradient(137.45deg, rgba(255, 230, 0, 0.8) -4.58%, rgba(255, 92, 0, 0.8) 110.09%);
        filter: blur(20px);
        width: 235px;
        height: 235px;
        left: 25em;
        top: -2rem;
    }

    //  .elipse-3{
    //     background: linear-gradient(182.92deg, rgba(255, 230, 0, 0.8) 2.3%, rgba(255, 92, 0, 0.8) 127.69%);
    //     filter: blur(20px);
    //     width: 400px;
    //     height: 403.29px;
    //     right: 21em;
    //     top: 3em;
    //  }

     .elipse-4{
        background: linear-gradient(217.66deg, rgba(255, 230, 0, 0.8) -22.53%, rgba(255, 92, 0, 0.8) 130.18%);
        filter: blur(20px);
        width: 235px;
        height: 235px;
        right: 20em;
        top: -2rem;
        z-index: 1;
     }

     .elipse-5{
        background: linear-gradient(210.8deg, rgba(255, 230, 0, 0.8) 41.51%, rgba(255, 92, 0, 0.8) 96.98%);
        filter: blur(20px);
        width: 235px;
        height: 235px;
        right: 44em;
     }

     .elipse-6{
        background: linear-gradient(146.58deg, rgba(255, 230, 0, 0.8) 3.99%, rgba(255, 92, 0, 0.8) 139.51%);
        filter: blur(20px);
        width: 380px;
        height: 380px;
        right: 24em ;
     }

     .elipse-7{
        background: linear-gradient(106.5deg, rgba(255, 230, 0, 0.8) 7.41%, rgba(255, 92, 0, 0.8) 129.56%);
        filter: blur(20px);
        width: 225px;
        height: 225px;
        left: 15rem;
        bottom: -1rem;
     }

     .elipse-8{
        background: linear-gradient(146.58deg, rgba(255, 230, 0, 0.8) 3.99%, rgba(255, 92, 0, 0.8) 139.51%);
        filter: blur(20px);
        width: 380px;
        height: 380px;
        left: 19rem;
     }

     .elipse-9{
        background: linear-gradient(295.48deg, rgba(255, 230, 0, 0.8) -25.64%, rgba(255, 92, 0, 0.8) 208.12%);
        filter: blur(20px);
        width: 235px;
        height: 235px;
        left: 15em;
        top: 83em;
     }

     .elipse-10{
        background: linear-gradient(305.91deg, rgba(255, 230, 0, 0.8) -1.19%, rgba(255, 92, 0, 0.8) 114.69%);
        filter: blur(20px);
        width: 235px;
        height: 235px;
        right: 17em;
        top: 79em;
     }

     .elipse-11{
        background: linear-gradient(210.8deg, rgba(255, 230, 0, 0.8) 41.51%, rgba(255, 92, 0, 0.8) 96.98%);
        filter: blur(20px);
        width: 235px;
        height: 235px;
        right: 23em;
        top: 89em;
     }

     .elipse-12{
        background: linear-gradient(106.5deg, rgba(255, 230, 0, 0.8) 7.41%, rgba(255, 92, 0, 0.8) 129.56%);
        filter: blur(20px);
        width: 225px;
        height: 225px;
        left: 20em;
        top: 59em;
     }
}