.block-artur__info{
    position: relative;
    z-index: 1000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: .8rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    span {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 39px;
        max-width: 643px;
    }

    h1 {
            font-family: 'Audiowide';
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 82px;
            max-width: 204px;
    }

    .block-artur-main__title{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 9em;
        gap: 2rem;
    }

    .block-artur__messangers{
        display: flex;
        gap: 5%;
    }

    .artur__img{ 
        display: flex;
        justify-content: flex-end;
        align-items: center;
        filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 1));
    }
}